VITE_GOOGLE_FORM_URL=

VITE_GOOGLE_FORM_ENTRY_NAME=
VITE_GOOGLE_FORM_ENTRY_PHONE=
VITE_GOOGLE_FORM_ENTRY_EMAIL=
VITE_GOOGLE_FORM_ENTRY_SERVICE=
VITE_GOOGLE_FORM_ENTRY_MESSAGE=

VITE_PARTNER_GOOGLE_FORM_URL=
VITE_PARTNER_GOOGLE_FORM_ENTRY_NAME=
VITE_PARTNER_GOOGLE_FORM_ENTRY_PHONE=
VITE_PARTNER_GOOGLE_FORM_ENTRY_MESSAGE=
